/* début Aspect général */
* {
  font-family: arial;
}

body {
  background-color: #f2f2f2;
  padding: 100px 0 200px 0;
}

h1 {
  text-align: center;
}

h1,
h3 {
  color: #0d0d0d;
}

.container {
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 35px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.box-300 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.box-400-600 {
  height: 400px;
  width: 600px;
  border: 1px solid black;
}

.clear {
  clear: both;
}

/* fin Aspect général */

/* début exo 01 background-color */
.bg-color-1 {
  background: tomato;
}

.bg-color-2 {
  background: springgreen;
}

/* fin exo 01 background-color */

/* début exo 02 background*/
.bg-1 {
  background: linear-gradient(to bottom, tomato, springgreen);
}

.bg-2 {
  background: radial-gradient(tomato, springgreen);
}

.bg-3 {
  background: linear-gradient(to left, tomato, springgreen);
}

.bg-4 {
  background: linear-gradient(45deg, tomato, springgreen);
}

/* fin exo 02 background*/

/* début exo 03 background-position*/
.img-1 {
  background: url("../images/bg_image.jpg");
}

.img-2 {
  background: url("../images/bg_image.jpg") center;
}

.img-3 {
  background: url("../images/bg_image.jpg") right;
}

.img-4 {
  background: url("../images/bg_image.jpg") left;
}

/* fin exo 03 background-position*/

/* début exo 04 background-repeat*/
.img-5 {
  background: url("../images/bg_image_petite.jpg") no-repeat;
}

.img-6 {
  background: url("../images/bg_image_petite.jpg") repeat-x;
}

.img-7 {
  background: url("../images/bg_image_petite.jpg") repeat-y;
}

/* fin exo 04 background-repeat*/

/* début exo 05 background-size*/
.img-8 {
  background: url("../images/bg_image_petite.jpg") repeat;
  background-size: 10%;
}

.img-9 {
  background: url("../images/bg_image_petite.jpg") repeat;
  background-size: 17% 50%;
}

.img-10 {
  background: url("../images/bg_image_petite.jpg") no-repeat;

  background-size: 100%;
}

.img-11 {

  background: url("../images/bg_image_petite.jpg") no-repeat center;
  background-size: contain;
}

/* fin exo 05 background-size*/

/* début exo 06 background-attachement*/
.img-12 {
  background: url("../images/bg_image_petite.jpg") fixed;
}

.img-13 {}

/* fin exo 06 background-attachement*/